@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Ubuntu+Condensed&family=Ubuntu+Mono&family=Ubuntu:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background: rgb(0, 0, 0, 0.10);
}

footer{
    width: 100%;
    height: 50%;
    background: #5503036e;
    position: absolute;
    top: 50%;
}

footer .header{
    height: 15%;
    width: 100%;
    padding: 20px 70px;
    background: #0a005c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

footer .header .logo a{
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.1px;
    text-decoration: none;
}
footer .header .logo i{
    color: #fff;
    margin-right: 5px;
}

footer .header .icons{
    width: 400px;
    padding-left: 150px;
}

footer .header .icons i{
    margin-right: 15px;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
    text-align: center;
    padding-top: 7.5px;
    cursor: pointer;
}

footer .header .icons .fa-facebook-f{
    background: #010191df;
    
}

footer .header .icons .fa-facebook-f:hover{
    background: #fff;
    color: #010191df;
}

footer .header .icons .fa-twitter{
    background: #087eecdf;
}
footer .header .icons .fa-twitter:hover{
    background: #fff;
    color: #087eecdf;
}

footer .header .icons .fa-square-instagram{
    background: #be1678df;
}

footer .header .icons .fa-square-instagram:hover{
    background: #fff;
    color: #be1678df;
}

footer .header .icons .fa-linkedin-in{
    background: #015bafea;
}

footer .header .icons .fa-linkedin-in:hover{
    background: #fff;
    color: #015bafea;
}

footer .header .icons .fa-youtube{
    background: #e40f0fdf;
}

footer .header .icons .fa-youtube:hover{
    background: #fff;
    color: #e40f0fdf;
}

footer .section{
    
    width: 100%;
    padding: 25px 90px 25px 80px;
    background: #0a005c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

footer .section a{
    display: block;
    color: #ffffffb8;
    padding: 5px 0;
    text-decoration: transparent;
}

footer .section a:hover{
    text-decoration: underline;
    
}

footer .section h4{
    color: #ffffffef;
    font-weight: 500;
    margin: 10px 0;
    position: relative;
}


footer .section h4::before{
    content: '';
    width: 30px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 20px;
}

footer .section .Subscribe-us h4{
    position: absolute;
    top: 30px;
}

footer .section input{
    display: block;
    width: 210px;
    height: 35px;
    border-radius: 5px;
}

footer .section .Subscribe-us .email{
    border: 1px solid #fff;
    background: #0b005c;
    padding-left: 10px;
    color: #ffffffd2;
    outline: none;
    margin-bottom: 5px;
}

footer .section .Subscribe-us .sub{
    border: none;
    background: #ffffffc4;
    color: #0a005c;
    text-align: center;
    font-size: 14px;
}

footer .section .Subscribe-us .sub:hover{
    background: #ffffff;
    cursor: pointer;
}





